<!DOCTYPE html>
<html>
  <div id='solution'> <%= @solution %> </div>
  <ul id="statistics">
    <li>Time:  <span><%= @time %>s </span></li>
    <li>All visited nodes (closed list):  <span><%= @stats[0] %></span></li>
    <li>Nodes considered in search (open list):  <span><%= @stats[1] %></span></li>
    <li>Nodes selected for the path:  <span><%= @stats[2] %></span></li>
  </ul>

  <input type='hidden' value='<%= @solution %>' id='solved'/>
  <input type='hidden' value='<%= @stats %>' id='stats'/>
  <input type='hidden' value='<%= @visited %>' id='visited'/>
</html>
